<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <style media="screen">
      *, *:before, *:after { padding: 0; margin: 0; box-sizing: border-box; }
      body { background-color: #080710; font-family: 'Poppins', sans-serif;
      color: #ffffff; } .background { width: 100%; height: 100vh; position:
      fixed; top: 0; left: 0; overflow: hidden; z-index: -1; } .background
      .shape { height: 200px; width: 200px; position: absolute; border-radius:
      50%; } .shape:nth-child(1) { background: linear-gradient(#1845ad,
      #23a2f6); left: -80px; top: -80px; } .shape:nth-child(2) { background:
      linear-gradient(to right, #ff512f, #f09819); right: -30px; bottom: -80px;
      } .shape:nth-child(3) { background: linear-gradient(to left, #6a11cb,
      #2575fc); left: 10%; bottom: 10%; } .shape:nth-child(4) { background:
      linear-gradient(to top right, #30cfd0, #330867); right: 20%; top: 30%; }
      .shape:nth-child(5) { background: linear-gradient(to top left, #f12711,
      #f5af19); left: 70%; bottom: 40%; } .navbar { display: flex;
      justify-content: center; align-items: center; height: 80px;
      background-color: #1e1e1e; color: #ffffff; width: 100%; box-shadow: 0 0
      10px rgba(0, 0, 0, 0.5); } .navbar h1 { font-size: 24px; } .container {
      display: flex; flex-direction: column; align-items: center; margin-top:
      40px; } .button-container { display: flex; justify-content: flex-end;
      width: 90%; margin-bottom: 20px; } .button { text-decoration: none;
      background-color: #ffffff; color: #000000; padding: 10px 20px; font-size:
      16px; font-weight: 600; border-radius: 5px; cursor: pointer; border: none;
      transition: background-color 0.3s ease; margin-left: 10px; } .button:hover
      { background-color: #f8f4f4; color: #000000; } .student-table-container {
      width: 90%; margin: 20px auto; border-radius: 10px; backdrop-filter:
      blur(10px); background-color: rgba(255,255,255,0.13); border: 2px solid
      rgba(255,255,255,0.1); box-shadow: 0 0 40px rgba(8,7,16,0.6); overflow:
      hidden; } .student-table { width: 100%; border-collapse: separate;
      border-spacing: 0; background-color: rgba(255,255,255,0.1); text-align:
      left; } .student-table th, .student-table td { padding: 15px; border: 1px
      solid rgba(255,255,255,0.2); margin: 3px; } .student-table th {
      background-color: rgba(0,0,0,0.5); font-weight: 600; } .student-table
      tr:nth-child(even) { background-color: rgba(255,255,255,0.05); }
      .student-table .profile-pic { width: 60px; height: 60px; border-radius:
      50%; } .student-table .download-button { background-color: #ffffff; color:
      #000000; padding: 5px 10px; font-size: 14px; font-weight: 600;
      border-radius: 5px; cursor: pointer; text-decoration: none; transition:
      background-color 0.3s ease; } .student-table .download-button:hover {
      background-color: #000000; color: #ffffff; } .popup-overlay { display:
      none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
      background-color: rgba(0, 0, 0, 0.5); justify-content: center;
      align-items: center; z-index: 1000; } .popup { background-color: #ffffff;
      padding: 20px; border-radius: 10px; text-align: center; color: #000000; }
      .popup input[type="password"], .popup input[type="file"] { width: 80%;
      padding: 10px; margin: 10px 0; border-radius: 5px; border: 1px solid #ccc;
      } .popup .popup-button { background-color: #000000; color: #ffffff;
      padding: 10px 20px; font-size: 16px; font-weight: 600; border-radius: 5px;
      cursor: pointer; border: none; transition: background-color 0.3s ease;
      margin: 5px; } .popup .popup-button:hover { background-color: #ffffff;
      color: #000000; } .login-container { *, *:before, *:after { padding: 0;
      margin: 0; box-sizing: border-box; } body { background-color: #080710; }
      .background { width: 430px; height: 520px; position: absolute; transform:
      translate(-50%, -50%); left: 50%; top: 50%; } .background .shape { height:
      200px; width: 200px; position: absolute; border-radius: 50%; }
      .shape:first-child { background: linear-gradient(#1845ad, #23a2f6); left:
      -80px; top: -80px; } .shape:last-child { background: linear-gradient(to
      right, #ff512f, #f09819); right: -30px; bottom: -80px; } form { height:
      770px; width: 500px; background-color: rgba(255, 255, 255, 0.13);
      position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;
      border-radius: 10px; backdrop-filter: blur(10px); border: 2px solid
      rgba(255, 255, 255, 0.1); box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
      padding: 30px 35px; } form * { font-family: "Poppins", sans-serif; color:
      #ffffff; letter-spacing: 0.5px; outline: none; border: none; } form p {
      font-weight: 500; color: rgb(230, 49, 49); line-height: 42px; text-align:
      center; } h3 { font-size: 32px; font-weight: 500; line-height: 42px;
      text-align: center; } label { text-align: left; display: block;
      margin-top: 5px; font-size: 16px; font-weight: 500; } input { display:
      block; height: 50px; width: 100%; background-color: rgba(255, 255, 255,
      0.07); border-radius: 3px; padding: 0 10px; margin-top: 8px; font-size:
      14px; font-weight: 300; } ::placeholder { color: #e5e5e5; } button {
      margin-top: 5px; width: 100%; background-color: #ffffff; color: #080710;
      padding: 10px 0; font-size: 14px; font-weight: 600; border-radius: 5px;
      cursor: pointer; } .social { margin-top: 30px; display: flex; } .social
      div { background: red; width: 150px; border-radius: 3px; padding: 5px 10px
      10px 5px; background-color: rgba(255, 255, 255, 0.27); color: #eaf0fb;
      text-align: center; } .social div:hover { background-color: rgba(255, 255,
      255, 0.47); } .social .fb { margin-left: 25px; } .social i { margin-right:
      4px; } } .no-students {width: 100%; text-align: center; margin: 5px;}
    </style>
    <script>
      function showPopup() {
      document.getElementById('popup-overlay').style.display = 'flex'; }
      function closePopup() {
      document.getElementById('popup-overlay').style.display = 'none'; }
      function logout() { fetch('/logout') .then(response => { if (response.ok)
      { window.location.href = '/'; } else { alert('Logout failed'); } })
      .catch(error => { console.error('Error during logout:', error); }); }
      function submitStudent() { // Implement form submission logic here
      alert('Student submitted'); closePopup(); }
    </script>
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <div class="navbar">
      <h1>Admin Panel</h1>
    </div>
    <div class="container">
      <div class="button-container">
        <button class="button" onclick="showPopup()">Create Student</button>
        <a href="#" onclick="logout()" class="button">Logout</a>
      </div>
      <div class="student-table-container">
        <table class="student-table">
          <thead>
            <tr>
              <th>Profile Photo</th>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Address</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Facebook ID</th>
              <th>Instagram ID</th>
              <th>Download</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#if students.length}}
              {{#each students}}
                <tr>
                  <td>
                    {{#if this.profileid}}
                      <img
                        src="/image/{{this.profileid}}.jpg"
                        alt="Profile Photo"
                        class="profile-pic"
                      />
                    {{else}}
                      No Profile
                    {{/if}}
                  </td>
                  <td>{{this.id}}</td>
                  <td>{{this.firstname}}</td>
                  <td>{{this.lastname}}</td>
                  <td>{{this.address}}</td>
                  <td>{{this.email}}</td>
                  <td>{{this.phone}}</td>
                  <td>{{this.facebookid}}</td>
                  <td>{{this.instagramid}}</td>
                  <td>
                    {{#if this.questionsid}}
                      <a
                        href="/excel/{{this.questionsid}}.xlsx"
                        download
                        class="download-button"
                      >Download</a>
                    {{else}}
                      No Questions
                    {{/if}}
                  </td>
                  <td>
                    <a
                      href="/delete/{{this.id}}"
                      class="download-button"
                    >Delete</a>
                  </td>
                </tr>
              {{/each}}
            {{else}}
              <h4 class="no-students">No Students Found.</h4>
            {{/if}}
          </tbody>

        </table>
      </div>
    </div>

    <div id="popup-overlay" class="popup-overlay">
      <div class="popup">
        <div class="login-container">
          <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
          </div>
          <form action="/create" method="post" enctype="multipart/form-data">
            <h4>Create Student</h4>

            <input type="text" name="firstname" placeholder="First Name" />
            <input type="text" name="lastname" placeholder="Last Name" />
            <input type="text" name="email" placeholder="Email" />
            <input type="text" name="phone" placeholder="Phone" />
            <input type="text" name="address" placeholder="Address" />
            <input type="text" name="instagramid" placeholder="Instagram ID" />
            <input type="text" name="facebookid" placeholder="Facebook ID" />

            <label for="profile">Profile Image</label>
            <input type="file" name="profile" />
            <label for="profile">Questions</label>
            <input type="file" name="questions" />

            <button type="submit">Create</button>
            <button onclick="closePopup()" type="button">Close</button>
          </form>

        </div>
        {{! <button class="popup-button" onclick="submitStudent()">Submit</button>
      <button class="popup-button" onclick="closePopup()">Close</button> }}
      </div>
    </div>
  </body>
</html>